.form {
    align-items:center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    
  }
  
  .form-group {
    align-items:center;
    display: flex;
    flex-direction: column;  
  }
  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 80%;
    height: 60%;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 50px;
    gap: 50px;
  }
  .form-group label {
    align-items:center;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    align-items:center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-btn {
    grid-column: 1 / 3;
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }